body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #910DA7;
    height: 100px;
    padding: 10px 20px;
    padding-right: 50px;
}

#header-left {
    margin-left: 55px;
    color: #fff;

}

#header-left span {
    color: #70FF00;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#header-right a {
    color: #fff;
    margin: 0 60px;
    font-size: 20px;
    text-decoration: none;
}

.custom-size {
    font-size: 30px;
    color: #000000;
}

/* FIM HEADER */

/* Pt. 01 */
.container {
    display: flex;
    align-items: center;
    background-color: #910DA7;
    padding: 70px;
    height: 700px;
    justify-content: space-between;
}

.imagem {
    width: 333.21px;
    height: 450.88px;
    border-radius: 55px;
    margin-left: 100px;
    box-shadow: -35px -35px #52BA00;

}

.texto {
    padding-right: 175px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    text-align: center;
}

#T {
    color: #fff;
    margin: 0;
    font-size: 40px;
}

/* Pt. 01 FIM */
/* Pt. 02 */
.container2 {
    height: 700px;
    padding: 10px 70px 70px 70px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container2 h2 {
    padding: 5px;
}

.item img {
    text-align: center;
    margin: 20px;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.servico {
    margin: 40px 0 50px 50px;
    color: #fa835b;
    font-style: italic;
    font-weight: 400;
}

.servico span {
    margin: 0 0 0 5px;
    color: #EA4710;
    font-style: italic;
    font-weight: 700;
}

/* Pt. 02 FIM*/
/*Nosso Blog */
.container3 {
    /* Cor de fundo desejada */
    background-color: #910DA7;
    padding: 20px;
    height: 700px;
    justify-content: space-between;
}

.imagem2 {
    padding: 0 100px 100px 100px;
    width: 1300px;
    height: 500px;
}

.texto {
    /* Espaçamento entre a imagem e o texto */
    padding-left: 20px;
    width: 500px;
    text-align: center;
}

.blog {
    color: #70FF00;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
}

.blog span {
    color: #70FF00;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
}

/*Nosso Blog FIM */
/*CONTATO */

.laranja {
    margin: 0 220px;
    margin-top: 70px;
    color: #EA4710;
    font-weight: 600;
    font-size: 40px;
}

.form-contato {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

form {
    display: grid;
}

input{
    background-color: #D9D9D9;
    border: none;
    border-radius: 3px;
    height: 30px;
}

textarea{
    background-color: #D9D9D9;
    border: none;
}

.form-contato img{
    height: 400px;
    width: auto;
}



button{
    background-color: #920DA7;
    color: white;
    border-radius: 60px;
    width: 120px;
    height: 30px;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 17px;
}

.final{
    background-color: #920DA7;
    height: 230px;
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.final h1{
    margin-top: 45px;
}

.tema-escuro .imagem #header-left #header-right header {

}
