body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #717171;
    color: #fff;
    height: 100px;
    padding: 10px 20px;
}

.header-left h1 {
    margin: 0;
}

.header-right a {
    text-decoration: none;
    color: #fff;
}

.header-right a:hover {
    text-decoration: underline;
}

/* FIM HEADER */

/* Pt. 01 */
.container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    /* Cor de fundo desejada */
    padding: 70px;
    height: 700px;
    justify-content: space-between;
}

.imagem {
    width: 333.21px;
    height: 450.88px;
    border-radius: 55px;
    margin-left: 100px;
    box-shadow: -35px -35px #717171;

}

.texto {
    padding-left: 20px;
    /* Espaçamento entre a imagem e o texto */
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 40px;
}

/* Pt. 01 FIM */
/* Pt. 02 */
.container2 {
    height: 700px;
    padding: 10px 70px 70px 70px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container2 h2 {
    padding: 5px;
}

.item img {
    text-align: center;
    margin: 20px;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.servico {
    margin: 40px 0 50px 50px;
}

/* Pt. 02 FIM*/
/*Nosso Blog */
.container3 {
    background-color: #3d3b3b;
    /* Cor de fundo desejada */
    padding: 20px;
    height: 700px;
    justify-content: space-between;
}

.imagem2 {
    padding: 50px 100px 100px 100px;
    width: 1300px;
    height: 500px;
}

.texto {
    padding-left: 20px; /* Espaçamento entre a imagem e o texto */
    width: 500px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 40px;
}
/*Nosso Blog FIM */
/*CONTATO */

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px; /* Ajuste o valor conforme necessário */
}

form {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

form label,
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

img {
    width: 50%;
    max-width: 400px; /* Ajuste o valor conforme necessário */
}
